<main class="form-signin w-100 m-auto">
  <!-- To submit the form we set this form to the form in the ts file -->
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please Sing In</h1>

    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control"  placeholder="name@example.com">
      <label>Email address</label>
    </div>

    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" placeholder="Password">
      <label>Password</label>
    </div>

    <div class="mb-3">
      <a routerLink="/forgot">Forgot your password</a>
    </div>
    
    <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
  </form>
</main>